<!-- <nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="home">Ocean Dweller</a>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</nav> -->







<div class="container" (click)="hideModal()">
  <div class="row">
    <div class="col-md-4">
      <a class="brand" routerLink="home">Ocean Dweller</a>
    </div>
    <div class="col-md-8 links">
        <div class="col-md-2">
          <a routerLink="home">Watches</a>
        </div>
        <div class="col-md-2">
          <a routerLink="history">History</a>
        </div>
        <div class="col-md-2">
          <a routerLink="craftsmenship">Craftsmenship</a>
        </div>
      </div>
    </div>
  </div>
